/*!
 * Accordion v1.0.4 by @rickycourtes - https://rickycourtes.com/accordion
 * License - https://rickycourtes.com/accordion/license
 */
 
// Default Theme Colors

$accordion-background-light: #f1f1f1;
$accordion-background-dark: #202020;


.accordion {
  overflow: hidden;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  
  .accordion-item {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);

    @at-root .accordion-header,
    .accordion-panel-wrap { padding: 0.75rem; }

    @at-root .accordion-header {
      display: flex;
      background: transparent;
      color: inherit;
      width: 100%;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 600;
      text-align: left;
      border: none;
      outline: 0;
      cursor: pointer;
      transition: background 300ms ease;

      .accordion-header--label {
        flex: 1;
        padding-right: 1rem;
      }

      // Toggle Icons
      &:after { content: '\002B'; }
      &[aria-expanded="true"]:after { content: "\2212"; }

      // Expand Panel
      &[aria-expanded="true"] + .accordion-panel {
        visibility: visible;
        max-height: 100%;
      }
    }

    @at-root .accordion-panel {
      overflow: hidden;
      visibility: hidden;
      max-height: 0;
    }
  }

  // Accordion Reset Styles

  p { margin-top: 0; }

  // Additional Styles

  &.outline {
    background-color: inherit;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  }

  &.light {
    background-color: $accordion-background-light;
    color: inherit;

    .accordion-header {
      &:hover { background-color: darken($accordion-background-light, 5%); }
      &:focus { background-color: darken($accordion-background-light, 10%); }
    }
  }

  &.dark {
    background-color: $accordion-background-dark;

    a { color: inherit; }

    &.outline {
      background-color: inherit;
      box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
    }

    .accordion-item {
      box-shadow: 0 1px 0 0 rgba(255,255,255,0.1);
      
      .accordion-header {
        &:hover { background-color: lighten($accordion-background-dark, 5%); }
        &:focus { background-color: lighten($accordion-background-dark, 10%); }
      }
    }
  }
}

// Media Queries

@media print {
  .accordion { background: transparent; }
  .accordion-header { padding-bottom: 0; }
  .accordion-header:after { display: none; }
  .accordion-header, .accordion-panel-wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .accordion-panel {     
    overflow: hidden;
    visibility: visible;
    max-height: 100%; 
  }
}